<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman</title>
    <link rel="stylesheet" href= "{{url_for('static', filename = 'style.css')}}">

    {% block head %}{% endblock %}

    
</head>
<body>

    {% with messages = get_flashed_messages() %}
   
            {% if messages %}
                <h1 class = "mes">{{messages[0]}}</h1>
            {% endif %}
 
    {% endwith %}

    <img class = "gif" src=" {{url_for('static', filename = 'Hangman.gif')}} " alt="hangman">

    {% block content %}
    {% endblock %}






</body>
</html>